 .edit-div{
       border-radius: 10px;
        border:solid;
        padding-top: 6px;
        display: inline-block;
        padding-right: 250px;
         margin-left: 200px;
         padding-left: 10px;
         margin-top: 150px;
 }